* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
.container .new-year-banner {
  position: relative;
}
.container .new-year-banner img {
  width: 100%;
}
.container .new-year-banner .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.433);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  text-align: center;
}
.container .new-year-banner .mask p, .container .new-year-banner .mask h2 {
  color: white;
}
.container .new-year-banner .mask p {
  font-size: 32px;
}
.container .new-year-banner .mask h2 {
  font-size: 72px !important;
  font-weight: bold;
}
.container .sale {
  margin-top: 5em;
  text-align: center;
  line-height: 2.5em;
}
.container .sale h1 {
  color: red;
  font-weight: bold;
  font-size: 40px;
}
.container .sale p {
  font-weight: bold;
  color: red;
}
.container .sale h2 {
  font-weight: bold;
}
.container .sale img {
  margin: 1em 0;
  width: 50%;
}
.container .mid-night-party {
  background-image:linear-gradient(#070211, #07021100), url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.container .mid-night-party .left {
  display: flex;
  align-items: center;
  color: white;
}
.container .mid-night-party .left h2 {
  font-weight: bold;
  font-size: 40px;
}
.container .mid-night-party .left button {
  display: block;
  margin: 2em 0;
  padding: 0.5em 1em;
  border-radius: 12px;
  border: none;
}
.container .mid-night-party .right {
  display: flex;
  justify-content: center;
}
.container .mid-night-party .right img {
  width: 70%;
}
.container .event-timing {
  margin: 2em 0;
  border-radius: 22px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 0, 0, 0.117);
  text-align: center;
  line-height: 2.5em;
}
.container .event-timing p {
  font-size: 25px;
}
.container .event-timing p span {
  color: red;
  font-weight: bold;
}
.container .event-timing button {
  background: red;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
}
.container .best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .best-offer .coming-soon {
  width: 33.3%;
}
.container .best-offer .coming-soon .title {
  color: rgb(76, 31, 148);
  margin: 0.5em 0;
}
.container .best-offer .coming-soon h2 {
  margin: 0.5em 0;
  font-size: 40px;
}
.container .best-offer .coming-soon small {
  display: block;
  width: 80%;
  opacity: 0.7;
  line-height: 1.5em;
}
.container .best-offer .img {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .best-offer .img img {
  border: 10px solid rgb(252, 0, 0);
  padding: 2em;
  border-radius: 50%;
}
.container .best-offer .new-year-2024 {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .best-offer .new-year-2024 div {
  width: 60%;
}
.container .best-offer .new-year-2024 .title {
  font-size: 40px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  margin-bottom: 0.5em;
}
.container .best-offer .new-year-2024 small {
  opacity: 0.8;
  display: block;
  margin-bottom: 1em;
}
.container .holiday-sale {
  width: 100%;
  text-align: center;
  margin: 5em 0;
}
.container .holiday-sale h1 {
  font-size: 40px;
  margin: 0.5em 0;
}
.container .holiday-sale h1 span {
  color: rgb(255, 0, 0);
}
.container .holiday-sale small {
  opacity: 0.8;
  display: block;
  width: 60%;
  margin: auto;
}
.container .discount .top {
  display: flex;
  justify-content: space-between;
}
.container .discount .top .t-r {
  position: relative;
  display: flex;
  justify-content: right;
}
.container .discount .top .mask {
  position: absolute;
  left: -150px;
  top: 15%;
}
.container .discount .bottom {
  position: relative;
}
.container .discount .bottom img {
  width: 100%;
  height: 200px;
}
.container .discount .bottom .mask {
  position: absolute;
  top: -200px;
  left: 100px;
  width: 450px;
  height: unset !important;
}
.container .portfolio {
  margin: 2em 0;
}
.container .portfolio .title {
  color: rgba(34, 4, 82, 0.877);
  margin: 0.5em 0;
}
.container .portfolio h2 {
  font-size: 40px;
  margin: 0.5em 0;
}
.container .portfolio small {
  display: block;
  opacity: 0.7;
}
.container .product-grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 2%;
}
.container .product-grid .card img {
  width: 100%;
}
.container .subscribe {
  margin: 5em 0;
  background: rgba(255, 0, 0, 0.117);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 22px;
}
.container .subscribe img {
  width: 150px;
}
.container .subscribe h1 {
  font-weight: bold;
  font-size: 40px;
}
.container .subscribe small {
  opacity: 0.6;
  margin-bottom: 2em;
  display: block;
}
.container .subscribe .email-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .subscribe .email-input input {
  border: none;
  width: 300px;
  padding: 0.5em 1em;
  border-radius: 22px 0 0 22px;
}
.container .subscribe .email-input button {
  display: block;
  border-radius: 0 22px 22px 0;
  border: none;
  background: red;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
}
.container .subscribe .email-input input, .container .subscribe .email-input button {
  font-size: 15px;
  height: 50px;
}

footer {
  background: #070211;
  padding: 5em 0;
}
footer .footer-top, footer .footer-bottom {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
footer .footer-middle {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  border-top: 0.5px solid rgba(128, 128, 128, 0.457);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.384);
}/*# sourceMappingURL=index.css.map */

.ha-ne{
  font-size: 32px;
  font-weight: 400;
}